/web_project/vendor/
/web_project/composer.json
/web_project/composer.lock
/ansible/ansible.cfg
/ansible/inventory/*
www-data/vars.yml
www-data/ssl/*
/web_project/src
www-data/*
local_environment/postgres_data/*
web_project/db_config.php
